/*****************************TAGS****************************/
body
{
text-align: center;
font-family: 'Merriweather', serif;
margin: 0;
}
h1{
  margin: 0;
}
p{
  margin: 0;
  font-weight: normal;

}
h2{
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}
h3{
  font-family: 'Montserrat', sans-serif;
    color: #11999E;

}
a{
  color: #11999E;
}
a:hover{
  color: #EAF6F6;
}
hr{
  border-style: dotted none none;
  border-width: 7px;
  width: 6%;
  border-color: #EAF6F6;
}
/*****************************classes**************************/
.h1{
  position: relative;
font-family: 'Sacramento', cursive;
font-size: 400%;
top: 110px;
color: #66BFBF;
}
.p{
position: relative;
top: 120px;
font-size: 1.5rem;
color: #66BFBF;
}
.div{
  height: 600px;
  background-color: #ddf3f5;
}

.top-cloud{
position: absolute;
top: 15px;
right: 210px;

}
.bottom-cloud{
position: absolute;
top: 250px;
left: 200px;
}
.mount{
position: relative;
top: 120px;
}
.profile{
  margin-top: 50px;
}
.skill-row{
  width: 50%;
margin: 70px auto 70px auto;
text-align: left;
line-height: 2;
}
.code-img{
width: 25%;
float: left;
margin-right: 30px;
border-radius: 50%;
}
.chilli-img{
width: 25%;
float: right;
margin-left: 30px;
}
.H2{
  margin: 0;
  margin-top: 70px;

}
.bottom-container{
background-color: #66BFBF;
height: 120px;
margin-top: 110px;

}
.p1{
  color: #EAF6F6;
  position: relative;
top: 50px;
font-size: 0.8rem;

}
.footer-link{
  position: relative;
  top: 30px;
margin: 13px;
text-decoration: none;
}
.profile-img{
height: 180px;
width: 180px;
}
.btn
{

  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.pro{
  position: relative;
  width: 35%;
  margin: 30px auto 80px auto;

}
.getintouch{
  margin-top: 70px;
}
.HH3{
  margin: 30px;
}
.HH4{
  position: relative;
  width: 40%;
  margin: 30px auto 80px auto;
}






/*****************************Ids******************************/
